@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('../css/normalize.css');

body {
    background: #f5f6f7;
    min-height: 100vh;    
    font-family:'Roboto', sans-serif;
    font-weight: normal;
    font-style: normal;
    padding: 4rem;
}

.app {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 560px;
    height: 360px;
    box-shadow: 0px 10px 25px rgba(103,103,103,.1);
    border-radius: 10px;    
    margin: auto;
    padding: 4rem;
}

.text-input {
    width: 60%;
    height: 2rem;
    border: none;
    outline: none;
    border-radius: 20px;
    padding-left: 20px;
    margin-bottom: 2rem;
}

.text-input::placeholder {
    font-size: 12px;
    color: #bfc0c2;
}

p {
    border-radius: 10px;
    width: 60%;
    height: 50%;
    background-color: #fff;
    padding: 10px;
}